.footer {
    text-align: center;
    font-size: x-small;
}

h1 {
    text-align: center;
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    overflow: hidden;
    background: #5f5f5f;
}

/*#container {
    height:100%;
}*/

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.body {
    background: url(/static/images/bg.png) repeat;
}

body {
    margin: 0;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

.login {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF51;
}

#container {
    min-height: 100%;
    position: relative;
}

#content {
    /* Height of the footer */
    padding: 10px 10px 60px;
}

html {
    position: relative;
    min-height: 100%;
}

.text {
    background: rgba(255, 255, 255, 0.65);
    border-radius: 25px;
    border: 2px solid #8aada7;
    padding: 7px;
}