{% extends "skeleton.html" %}
{% block title %}
    About - {{ super() }}
{% endblock %}
{% block content %}
    <h2>Summary</h2>
    <p>
        We are launching a website: Big Cheese Review(LINK). Our business is to provide a reliable, transparent,
        ISU-based
        platform for job hunting, which will benefit the university, career fair hosts, employers, and individuals want
        to
        be employed. Iowa State offers to students a career fair in the fall and in the spring. We are entrepreneurial
        firm,
        we will offer fresh-new experience, job opportunities through a efficient channel to the market.
    </p>
    <h2>The Idea</h2>
    <p>We have been noticed that the opportunity of helping ISU student job seekers to match themselves with the
        potential
        employers in an easy and effective way. This opportunity is attractive as the end users are not just limited to
        ISU
        students, but also will benefit the hiring managers, career fair hosts, and institutions. Ultimately, the
        society.
        We came up with this opportunity by carefully analysing the existing trends of job searching, the problems of
        ISU
        career fair settings, the possible ways to solve the problems, and identifying the possible gaps and who would
        be
        our customers in the the job-searching market. We had been spend one to two hours to inform participants what
        are
        the business we would do and how would that help the job-searching, and then asked students how will they rate
        the
        effectiveness of the job fair and how do they feel the helpfulness of our business. From our
        investigation(appendix
        7), about 29.2% of the 72 participants felt the career fair is not very helpful and about 36.1% of them felt
        that
        our business might be helpful. We also received some comments.This survey indicated that there’s an unsatisfied
        needs from students and helped us better serve the gaps in the market.</p>
    <p>
        This opportunity is timely. The current situation we have been observed is that even though the existing career
        fair
        is gives students a great opportunity to talk with companies, but the problem is that the scale of the whole
        event
        is too broad and general to offer an high-efficiency channel to connect both of the students and the companies.
        To
        be specific, a typical student would notice that in most of the situation, there is not enough time during a
        career
        fair to talk with every company there. They could done their own research and preparation about the companies
        they
        want to talk to, however these type of efforts will not help them to dig out the key information that is useful
        .Such as the precise company culture or the expected workloads needed when searching for an internship or
        specific
        career. This opportunity is durable. Because what we’re doing will create profound impact and there is enough
        room
        to expand our products or service. Demand of assistance for job searching is ongoing as employment is the thing
        that
        people care about all the time. We’re currently serve for ISU students with highly-customized mode due to our
        background, which is hard to be duplicated or substituted by other business. And currently in the market we
        don’t
        have direct competitors.This opportunity is value-added. Our business is filling a gap for a target group with
        unsatisfied demands. Currently, ISU students cannot find out any efficient and reliable channels to gain
        valuable
        information of the employers. For us as a start-up, we have clear strategies to generate profits and improve our
        business from sales of licenses to career fairs, date to hiring companies, and advertisement on the website.
    </p>
    <p>
        This is where we envision our product being of us. We would like to provide a service that is attractive to the
        students, university, and the employers. We would like to provide a effective and reliable platform coordinated
        with
        the university which would allow the previous and current ISU students to rate and give reviews on the companies
        they have worked for. This service would be a simple website, similar to many other review websites out there,
        allowing students to give reviews on how their internship went with a certain company. This service I see being
        helpful to students mainly, but also to companies who are looking to improve their internship experiences to
        bring
        in more students. For students, it offers the opportunity to quickly review what to expect from that company.
        For
        the companies, it offers a way to view how they can improve their internship experience for their students. We
        identified that there is a gap in the job-seeking market at ISU and we would reduce it by offering a good method
        of
        “shopping” for a company and finding out more about said company.
    </p>
    <p>
        We utilized “brainstorming and internet search” to form the original idea, to to lock the opportunity, and to
        create
        a business. Brainstorming works well all the time especially at the beginning for us to come up with various
        business ideas. Joel Wacker, our leader asked everyone to jot down these following things on paper: business
        ideas,
        target customers and industry, and how we and the end users benefit from it. In this way, no one felt they’re
        under
        limitations and restriction, we all voted for the plans and reached a agreement after the discussion, which
        directly
        helped us to decide what and how we want to do in a short period.
    </p>
    <h1>The Challenges</h1>
    <p>We have encountered many challenges with our product idea and the limited development time we have had.
        Development
        of a new online service is not a small task. As with many tech companies, we are finding that a lot of time is
        needs
        to be set aside to create the product before we can be ready to launch. We tried our best to discuss and settle
        our
        duties in order to guarantee we would have enough time to build the webpage. That time is spread short among
        this
        product, our classes, and our work outside of college. Our time is heavily constricted on this product. Stage
        number
        one for us was to complete a minimal functioning website which we would be able to demonstrate to universities.
        From
        there, stage two, we planned to meet in person, for starters, with Iowa State and ask what they thought of our
        idea
        and gather feedback. Stage three, we were planning to provide our product as a subscription based service,
        getting
        paid as developers to continue development of the webpage and implementing new ideas and feedback. Currently, we
        are
        at stage one, and almost ready to move to stage two. Once again, this brings us back to the issue of timing. In
        this
        class, we were given very little time to: formulate a project idea, communicate among our group to gather
        feedback,
        formulate a plan, start development, talk with potential markets, and become funded. To add to this, while plans
        were being formulated, our groups were changed, setting us back further on our goal of reaching a point of final
        development. The rest of us had been challenged by the two new members as they felt our idea would not be able
        to
        generate much profits during such a limited period. The project leader went through some details and showed some
        of
        our progress to them, and then we all discussed through the project and finally reach the agreement about the
        business idea. So far, perhaps due to the group changes, we have received little to absolutely no help on our
        product from a few members of our group. Because we are not able to fire these members, or get any contribution
        from
        them, the remainder of our members are having to work even harder. Currently, to overcome these challenges, we
        have
        been working overtime to reach stage two, and even try to progress past stage two. Some of us have sacrificed
        entire
        nights of sleep in order to catch up. Even so, the rest of us who had been worked on the project decided that we
        would put extra time and efforts to complete the project. Our extra time input has led
    </p>

    <h1>The Execution</h1>
    <p>As mentioned before, we carefully came up with the opportunity, and then we started to draft the basic ideas of
        building the platform to launch our business. Some of us are students from college of business. After we
        attended
        the career fair to further expand the understanding of the job-searching issues experienced by ISU students, we
        went
        through the results and comments from the survey, we started to outline the contents and designs of
        BigCheeseReview.
        Three of us had programming knowledges and prior experience in developing, integrating, and installing web
        interfaces and coding for web page in HTML, VBScript, CSS. etc. These type of expertises directly turn our idea
        into
        a real business and we did not need large amount of cash for buying physical inventories to start up.
    </p>
{% endblock %}