{% extends "skeleton.html" %}
{% block content %}
    <h1 class="h1" align="center">Here's all the employers we have</h1>
    <h3 align="center">Just click one to see more details.</h3>
    <div class="col-lg">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Company Name</th>
                <th>About</th>
                <th>Average Rating</th>
                <th>Number of Reviews</th>
            </tr>
            </thead>
            <tbody>
            {% for item in result %}

                <td> <a href="www.bigcheese.review/employers/{{ item[0] }}" {{ item[0] }}</a>  </td>
                    <td> {{ item[1] }} </td>
                    <td> {{ item[2] }}</td>
                    <td> {{ item[3] }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
    <p>Are we missing someone? Click <a href="http://www.bigcheese.review/addNewCompany">here</a> to add them!</p>

{% endblock %}
