<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/Default.css">
    </link>
    <title>
        Big Cheese Review
    </title>
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>(adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7403507368396775",
        enable_page_level_ads: true
    });</script>
</head>
<body class="body">
    <div id="container">
        <div>
            <ul>
                <li><a class="active" href="index.jsp">Home</a></li><!-- TODO fix link location   -->
                <li><a href="about.jsp">About</a></li><!-- TODO fix link location   -->
                <li><a href="employers.jsp">Employers</a></li> <!-- TODO fix link location   -->
                <li class="login"><a href="login.jsp">Login</a></li><!-- TODO fix link location   -->
            </ul>
        </div>
        <div>
            <table>
                <tr>
                    <td height="50"></td>
                </tr>
            </table>
        </div>
        <div id="content">