{% extends "skeleton.html" %}
{% block content %}


    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to the Big Cheese Review!</h1>
            <p>
                Here at the Big Cheese Review, our goal is to help you find the right people to talk to at career fairs, job fairs, and perhaps most daunting of all, the internet.
            </p>
            <h2>How do we do that?</h2>
            <p>By using the power of people. We take the experiences of people like you and compile them in our centralised database, and calculate an average rating for each employer. We also have testaments from people who work or have worked at these companies, and you can see all of this.</p>
            <h2>How does this help?</h2>
            <p>By looking at the experiences of others, you can make sure to only talk to the recruiters who you know represent a valid company who has the things you are looking for. Our mission is to help everyone help everyone. Simple as that.</p>
            <p><a class="btn btn-primary btn-lg" href="{{ url_for('employers') }}" role="button">Get Started &raquo;</a><a class="btn btn-primary btn-lg" href="{{ url_for('about') }}" role="button">Learn more &raquo;</a> </p>
        </div>
    </div>






{% endblock %}