<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/Default.css">
    </link>
    <title>
        {% block title %}
        Big Cheese Review
        {% endblock %}
    </title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>(adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7403507368396775",
        enable_page_level_ads: true
    });</script>
</head>
<body class="body">
<div id="container">
    <div>
        <ul>
            <li><a class="active" href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('employers') }}">Employers</a></li>
            <li class="login"><a href="{{ url_for('login') }}">Login</a></li>
        </ul>
    </div>
    <div>
        <table>
            <tr>
                <td height="50"></td>
            </tr>
        </table>
    </div>
    <div id="content">


        {% block content %}

            <h1 align="center">If you can see this, the devs gone done messed up.</h1>

        {% endblock %}

    </div>
    <footer id="footer">
        <table style="width:95%" align="center">
            <tr align="center">
                <td style="width:30%"></td>
                <td style="width:30%" opacity="1">Developed by Logan Woolery and William Rickert</td>
                <td style="width:30%" align="right"></td>
            </tr>
            <tr align="center">
                <td style="width:30%"></td>
                <td style="width:30%">All rights reserved.</td>
                <td align="right" style="width:30%"></td>
            </tr>
        </table>
    </footer>
</div>
</body>
</html>
</html>