<!DOCTYPE html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116985357-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-116985357-1');
    </script>
    <meta name="description" content="">
    <meta name="author" content="Logan Woolery">
    <link rel="icon" href="/static/images/favicon.ico">

    <title>{% block title %}Big Cheese Review {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>(adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7403507368396775",
        enable_page_level_ads: true
    });</script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">Big Cheese Review</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                {# <li><a href="{{ url_for('employers') }}">Employers</a></li> #}
                <li class="dropdown">
                    <a href="{{ url_for('employers') }}" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Employers <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('employers') }}">View Employers</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('getCompanyName') }}">Add an Employer</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('signup') }}">Signup</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-10 blog-main">
            <!-- Main component for a primary marketing message or call to action -->
            {% block content %}
                <h1 class="h1">If you can see this, the devs messed up</h1>
            {% endblock %}
        </div>
        {% block amazonAd %}
            <div class="col-sm-2 blog-sidebar">
                <div class="sidebar-module sidebar-module-inset">
                    <div class="alignleft">
                        <script type="text/javascript">
                            amzn_assoc_ad_type = "banner";
                            amzn_assoc_marketplace = "amazon";
                            amzn_assoc_region = "US";
                            amzn_assoc_placement = "assoc_banner_placement_default";
                            amzn_assoc_banner_type = "ez";
                            amzn_assoc_p = "14";
                            amzn_assoc_width = "160";
                            amzn_assoc_height = "600";
                            amzn_assoc_tracking_id = "woolery-20";
                            amzn_assoc_linkid = "924e27911a75ad879da751b7c0c4dfbb";
                        </script>
                        <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
                    </div>

                </div>
            </div>
        {% endblock %}
    </div>
</div> <!-- /container -->
<footer>
    <div class="container">
        {# <p class="text-muted">Developed by Logan Woolery and William Rickert. All rights reserved.<p align="left">Tweet about us with #BigCheeseReview</p> </p> #}
        <table width="100%">
            <tr>
                <td width="50%"><p class="text-muted" align="center">Developed by Logan Woolery and William Rickert. All rights reserved.</p></td>
                <td width="50%"><p class="text-muted" align="center">Tweet about us with #BigCheeseReview</p></td>
            </tr>
        </table>
    </div>
</footer>

<!-- Bootstrap core JavaScript
   ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
